<li class="question">
  <span><%= question %></span>
  <label><input type="radio" name="framework" value="1"><span></span><span><%= correct %></span></label>
  <label><input type="radio" name="framework" value="2"><span></span><span><%= incorrect %></span></label>
</li>

