<div class="hero-unit code">
  <h1>Great Answers!</h1>
  <p>I trust that you'd tell me who you are, but for your convenience I'm just going to use GitHub.</p>

  <p>
    <ul>
      <li><a class="btn btn-success btn-large" href="<%= @authorize_url %>">Login to GitHub</a></li>
      <li><a href="/lol">Don't have a GitHub account?</a></li>
    </ul>
  </p>
</div>

