<div class="hero-unit code">
  <h1>Thanks! Now let's get to the code</h1>

  <p>
    <a class="btn btn-success btn-large" href="<%= @authorize_url %>">Sign in with GitHub</a>
    &nbsp;&nbsp;
    <a href="/lol">Don't have a GitHub account?</a>
  </p>
</div>

