<div class="hero-unit">
  <h1>So you want to be a developer at 37signals, huh?</h1>
  <p>Well, you're gonna need a cover <strike>letter</strike> site. If you don't have the skills to make one yourself then just answer a few questions and I'll whip you up one that should get you in the door.</p>
  <p><a class="btn btn-success btn-large" href="/questions">Let's get started</a></p>
</div>

